<section class="cards-list">
    <div class="card card__table" 
      *ngFor="let card of user.accounts" 
      [ngClass]="{ 'card__table': isTable }"
      (click)="launchAlert(card)">

        <p class="title">{{ card.name }}</p>
        <p class="payment-method">{{ card.lastFourNumber }}</p>
        <p class="cash">{{ card.balance | currency:'EUR' }}</p>
        <p class="available"><span>Disponible</span><span> {{ card.availableAmount | currency:'EUR' }} </span></p>
        <div class="message">
            <span *ngIf="isMobile; else notMobile">2</span>
            <ng-template #notMobile>
                <span class="icon-muro_mensaje"></span>
                <span>2 Movimientos nuevos</span>
            </ng-template>
        </div>
        <app-action-button-dots [card]="card"></app-action-button-dots>
    </div>
</section>