@import "src/scss/variables.scss";

.cards-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 26px 50px;
    .card{
        background-color: white;
        min-width: 20vw;
        box-shadow: $shadow;
        border-radius: 2px;
        position: relative;

        &:last-child{
            margin-right: 0;
        }

        >p{
            padding: 0 35px;
            
            &.title{
                font-size: $font-size-small;
                padding-top: 18px;
                margin-bottom: -5px;
            }

            &.payment-method{
                font-size: $font-size-xsmall;
                color: $smooth-grey-color;
            }

            &.cash{
                font-size: $font-size-big;
                color: $primary-color;
                margin-top: 40px;
                margin-bottom: -5px;
            }

            &.available{
                font-size: $font-size-xxsmall;
                margin-bottom: 40px;
                &>span{
                    margin-right: 13px;
                }
            }
        }

        >.message{
            border-top: solid 0.5px $grey-color;
            padding: 15px 4vw;
            display: flex;
            align-items: center;

            >span{
                &:nth-child(1){
                    font-size: $font-size-small;
                    background-color: $primary-color;
                    color: white;
                    border-radius: 100%;
                    padding: 3px;
                    margin-right: 7px;
                    margin-top: -2px;
                }
                &:nth-child(2){
                    font-size: $font-size-xxsmall;
                    
                }
                
            }
        }

        &__table{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                margin: 0 !important;
                padding: 30px !important;
                font-size: $font-size-small !important;
            }

            .message{
                display: none;
            }
        }
    }
}


@media (max-width: 1023px) {
    
    .cards-list{
        padding: 26px 5vw;
        .card{
            width: 90vw;
            margin-bottom: 20px;

            .title{
                display: inline-block;
            }
            .payment-method{
                display: inline-block;
            }
            .cash{
                margin-top: 5px !important;
            }
            .available{
                display: inline-block;
            }
            .message{
                border-top: none;
                display: inline-block;
                right: 0;
                position: absolute;
                span{
                    &:nth-child(1){
                        padding: 13px 17px;
                    }
                }
            }
        }
    }

}