
.buy-section{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img{
        width: 65px;
    }
    span{
        border: solid 1px #c6c6c6;
        border-left: 0;
        padding: 25px;
        width: 180px;
    }
}

@media (max-width: 1023px) {
    .buy-section{
        span{
            width: 100%;
        }
    }
}