<button class="nav-selected" (click)="openNav()">
    <span>{{ navSelected | uppercase }}</span>
    <div class="arrow-icon" [ngClass]="{ 'arrow-icon__open' : navOpened}">
        <span class="icon-Flecha-form-abajo"></span>
    </div>
</button>
<nav>
    <ul [ngClass]="{ 'open' : navOpened}">
        <li 
        *ngFor="let level of navLevels" 
        id="{{ level.id }}" 
        [ngClass]="{ 'select-level' : level.isShown}"
        (click)="selectLevel(level)"
        routerLink={{level.link}} >
        <a><span *ngIf="level.icon!=null" [ngClass]="{'icon-Cobros-y-pagos': level.icon!=null}"></span> {{ level.name | uppercase}} </a>
    </li>
    </ul>
</nav>
