<header>
  <div>
    <img class="menu" src="../assets/menu.png" alt="">
    <img class="ib-icon" src="../assets/Ibercaja-logo.svg" alt="" srcset="">
    <img class="mensaje" src="../assets/mensajes.png" alt="">
    <button>Productos</button>
    <button>Operativas</button>
    <form action="search" method="post">
      <img src="../assets/search.png" alt="">
      <input type="text" id="fname" name="fname" value="Busca en ibercaja...">
    </form>
  </div>
  <div>
    <span class="notifications">2</span>
    <div class="sidebar">
      <span><img src="../assets/avatar.png" alt=""></span>
      <p>María Salas</p>
      <img src="../assets/down-arrow-white.png" alt="">
    </div>
  </div>
</header>
<app-home></app-home>
<footer>
  <img class="ib-icon" src="../assets/Ibercaja-logo.svg" alt="">
  <ul>
    <li class="links">
      <a href="#">Contratos tipo</a>
    </li>
    <li class="links">
      <a href="#">C.G.C. Protocolizadas</a>
    </li>
    <li class="links">
      <a href="#">Aviso legal</a>
    </li>
    <li class="links">
      <a href="#">Ejercicio de derechos</a>
    </li>
    <li class="links">
      <a href="#">Revocación</a>
    </li>
    <li class="links">
      <a href="#">Tarifas y cotizaciones</a>
    </li>
    <li class="links">
      <a href="#">Tablón de anuncios</a>
    </li>
  </ul>
</footer>