<section class="recent-activity">
    <h3>Actividad reciente</h3>
    <div class="scroll" [ngClass]="{ 'is-scrolling': isShowScroll }" (scroll)="doSomethingOnScroll()">
        <div *ngFor="let movement of movements" class="movement">
            <div class="date">{{ movement.date }}</div>
            <div class="payments" *ngFor="let payment of movement.payments">
                <span>{{ payment.concept }}</span>
                <div class="amount">
                    <span>{{ payment.amount | currency:'EUR' }}</span>
                    <div class="color__ball" [ngClass]="{ 
                        'color__ball--active': payment.amount>0 
                    }" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="needs">
    <h3>Necesidades</h3>
    <div class="buy-section">
        <img src="/assets/img/ordenador.png" alt="">
        <span>Comprar ordenadores</span>
    </div>
</section>

