@import "src/scss/variables.scss";

*{
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.info-principal{
    background-color: $back-info-color;
    padding: 45px;
    display: block;
    height: 50vh;
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .info-principal{
        height: 60vh;
    }
}