@import "src/scss/variables.scss";

.dashboard-containter{
    display: flex;
}
section{
    display: block;
}
.main-section{
    width: calc(100% - 325px);
    margin: 40px 0;
    
    .first-part{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 50px;
    }

    .summary-part{
        margin-top: 40px;
        margin-left: 50px;
        padding-top: 0;
    }

    .nav-menu{
        margin-top: 30px;
    }
}

.sidebar-section{
    width: 284px;
    padding: 20px;
    border-left: solid 1px $grey-color;
}
