@import "src/scss/variables.scss";

.cards-list{
    font-size: $font-size-xsmall;
    padding: 26px 50px;
    .card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        min-width: 20vw;
        box-shadow: $shadow;
        border-radius: 2px;
        padding: 10px 25px;
        position: relative;
        .title{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .name{
                margin-right: 6vw;
            }
            img{
                width: 40px;
                margin-right: 20px;
            }
            .payment-method{
                color: $grey-color-light;
            }
        }


        .cash{
            display: flex;
            align-items: center;

            .amount{
                display: flex;
                align-items: center;
                span:nth-child(1){
                    margin-right: 4px;
                }
                span:nth-child(2){
                    margin-left: 4px;
                    color: $grey-color-light;
                }                
            }
    
            .graph {
                margin-left: 30px;
                width: 150px;
                height: 5px;
                border-radius: 25px;
                background-color: $grey-color;
                div{
                    // width: 5vw;
                    height: 5px;
                    background-color: $primary-color;
                    border-radius: 25px;
                }
            }
        }

    }
}

@media (max-width: 1023px) {
    
    .cards-list{
        padding: 20px 5vw !important;
        .card{
            padding: 20px 25px !important;
            margin-bottom: 20px;
            display: block !important;
            .title{
                display: block !important;
                img{
                    position: absolute;
                    margin-top: 2px;
                }
    
                .name{
                    margin: 0;
                    margin-left: 55px;
                }
    
                .payment-method{
                    margin-top: 1px;
                    margin-left: 55px;
                }
            }
    
            .cash{
                display: flex !important;
                justify-content: space-between !important;
            }

            .graph{
                margin: 0 !important;
                width: 30vw !important;
            }
        }    
    }
}