<section class="cards-list" 
[ngClass]="{ ' cards-list__table': isTable }">
    <div class="card" *ngFor="let card of cards" (click)="launchAlert(card)">
        <div class="title">
            <img src="/assets/img/tarjeta-visa-one.png" alt="tarjeta">
            <p class="name">{{ card.title }}</p>
            <p class="payment-method">{{ card.lastFourNumber }}</p>
        </div>
        <div class="cash">
            <div class="amount">
                <span>{{ card.cash.aviable | currency: 'EUR' : 'symbol':'1.0-0'}}</span>/<span>{{ card.cash.total | currency: 'EUR' : 'symbol':'1.0-0' }}</span>
            </div>
            <div class="graph">
                <div *ngIf="isMobile" [ngStyle]="{'width.vw': card.cash.width }"></div>
                <div *ngIf="!isMobile" [ngStyle]="{'width.px': card.cash.width }"></div>
            </div>
        </div>
        <app-action-button-dots [card]="card"></app-action-button-dots>
    </div>
</section>