<div class="dashboard-containter">
    <section class="main-section main-section-tablet" 
    [ngClass]="{ 
        'open-main-section-tablet': !isHide 
    }" 
    (click)="closeSidebar()">

        <div class="first-part">
            <app-dashboard-welcome [name]="user.name"></app-dashboard-welcome>
            <app-dashboard-favorites></app-dashboard-favorites>
        </div>
        <div class="summary-part">
            <app-dashboard-summary [summary]="user.summary"></app-dashboard-summary>
        </div>
        <div class="nav-menu">
            <app-navigation-menu></app-navigation-menu>
        </div>
        <router-outlet></router-outlet>
    </section>

    <section class="sidebar-section" 
    [ngClass]="{ 
        'sidebar-section-tablet': isHide,
        'open-sidebar-section-tablet': !isHide
    }">
        <button class="arrow" (click)="openSidebar()"><span class="icon-Chrevron-izquierda" [ngClass]="{ 'hide': !isHide }"></span></button>
        <app-home-sidebar [ngClass]="{ 'hide': isHide }" [user]="user"></app-home-sidebar>
    </section>
    <button class="message"> <span class="icon-Contacto"></span> </button>
</div>