.favorites{
    display: flex;
    align-items: center;
    div{
        padding: 0px 10px;
        border-right: solid black 1px;
        &:last-of-type{
            border-right: 0;
        }
    }
}