$icomoon-font-family: "ibercaja-icon" !default;
$icomoon-font-path: "../assets/fonts/ibercaja-font" !default;

$icon-acceso: "\e900";
$icon-Adeudos: "\e901";
$icon-adeudos-sepa: "\e902";
$icon-Admin-Usuarios: "\e903";
$icon-agenda-de-cuentas: "\e904";
$icon-agenda-movil: "\e905";
$icon-Ajuste-tarjetas: "\e906";
$icon-Alert: "\e907";
$icon-alerta-ficheros: "\e908";
$icon-alerta-recibos: "\e909";
$icon-alta: "\e90a";
$icon-alta-transferencia-periodica: "\e90b";
$icon-amorizacion-parcial: "\e90c";
$icon-anticipio-cobro-facturas: "\e90d";
$icon-anticipos-N58: "\e90e";
$icon-anular-recompra: "\e90f";
$icon-apertura: "\e910";
$icon-apertur-modelo: "\e911";
$icon-aportacion-extraordinaria: "\e912";
$icon-Archivo: "\e913";
$icon-asuntos-pendientes: "\e914";
$icon-avales-solicitados: "\e915";
$icon-Ayuda: "\e916";
$icon-Busqueda: "\e917";
$icon-Buzon: "\e918";
$icon-calculo-SEPA: "\e919";
$icon-Calendario: "\e91a";
$icon-cambiar-clave-de-acceso: "\e91b";
$icon-cambiar-clave-de-firma: "\e91c";
$icon-Cambiar-contrato: "\e91d";
$icon-cancelar-domiciliacion: "\e91e";
$icon-caracteristicas: "\e91f";
$icon-carga-movil: "\e920";
$icon-carga-prepago: "\e921";
$icon-Carrito: "\e922";
$icon-Cashpool: "\e923";
$icon-Cerrar: "\e924";
$icon-Cerrar-sesion: "\e925";
$icon-Certificados: "\e926";
$icon-Cheque: "\e927";
$icon-Chevron-abajo: "\e928";
$icon-Chevron-arriba: "\e929";
$icon-Chevron-derecha: "\e92a";
$icon-Chrevron-izquierda: "\e92b";
$icon-Claves: "\e92c";
$icon-Cobros-y-pagos: "\e92d";
$icon-Comercio: "\e92e";
$icon-comercio-exterior: "\e92f";
$icon-compra_fondos_carrito: "\e930";
$icon-compra-continuo: "\e931";
$icon-compra-extranjeros: "\e932";
$icon-condiciones: "\e933";
$icon-confirming-Ibercaja: "\e934";
$icon-consulta-domiciliaciones: "\e935";
$icon-consulta-facturas: "\e936";
$icon-consulta-operaciones: "\e937";
$icon-Contacto: "\e938";
$icon-control-cheques-N67: "\e939";
$icon-Copiar: "\e93a";
$icon-crear-aportacion-periodica: "\e93b";
$icon-cuadro-amortizacion: "\e93c";
$icon-cuenta-a-tarjeta: "\e93d";
$icon-Cuentas-y-tarjetas: "\e93e";
$icon-Datos-Personales: "\e93f";
$icon-Descarga: "\e940";
$icon-descarga-prepago: "\e941";
$icon-descripcion-cuadernos-AEB: "\e942";
$icon-Destacado: "\e943";
$icon-Destacado-filled: "\e944";
$icon-deudores: "\e945";
$icon-devolver-recibo: "\e946";
$icon-devolver-recibo-2: "\e947";
$icon-documentos-emitidos-N66: "\e948";
$icon-Dolar: "\e949";
$icon-Domiciliaciones: "\e94a";
$icon-Dotted: "\e94b";
$icon-Drag-drop: "\e94c";
$icon-Editar: "\e94d";
$icon-efectos-pendientes-cargo: "\e94e";
$icon-efectos-pendientes-cargo-2: "\e94f";
$icon-Eliminado: "\e950";
$icon-Eliminar: "\e951";
$icon-Enviar: "\e952";
$icon-enviar-ficheros-externos: "\e953";
$icon-Error: "\e954";
$icon-Euro: "\e955";
$icon-Factura-electronica: "\e956";
$icon-facturas: "\e957";
$icon-facturas-anticipadas: "\e958";
$icon-Faqs: "\e959";
$icon-Favoritas: "\e95a";
$icon-Ficheros-N43: "\e95b";
$icon-Ficheros-y-remesas: "\e95c";
$icon-Filtros: "\e95d";
$icon-Financiacion: "\e95e";
$icon-Firma: "\e95f";
$icon-Firma-2: "\e960";
$icon-Flecha-form-abajo: "\e961";
$icon-Flecha-form-derecha: "\e962";
$icon-Flecha-horizontal: "\e963";
$icon-Flecha-vertical: "\e964";
$icon-fondos: "\e965";
$icon-Fondos_Buscador: "\e966";
$icon-Fondos_Comparador: "\e967";
$icon-Grid: "\e968";
$icon-Hamburguesa: "\e969";
$icon-Hamburguesa-2: "\e96a";
$icon-historico-mandatos: "\e96b";
$icon-historico-recibos: "\e96c";
$icon-ico_inversion: "\e96d";
$icon-ico_novedades: "\e96e";
$icon-ico-agregar-cuenta: "\e96f";
$icon-Imprimir: "\e970";
$icon-Impuestos: "\e971";
$icon-Info: "\e972";
$icon-info-reglamentaria: "\e973";
$icon-informacion_fondo: "\e974";
$icon-informacion-cuenta: "\e975";
$icon-Informacion-cuenta-2: "\e976";
$icon-informacion-periodica: "\e977";
$icon-ingreso-cheques-y-pagares: "\e978";
$icon-interprete-extractos-N43: "\e979";
$icon-intervinientes: "\e97a";
$icon-Inversion: "\e97b";
$icon-Legal: "\e97c";
$icon-lineas-avales: "\e97d";
$icon-liquidacion: "\e97e";
$icon-Lista: "\e97f";
$icon-Mail: "\e980";
$icon-Mail-abierto: "\e981";
$icon-manual-operativo: "\e982";
$icon-Mas: "\e983";
$icon-Menos: "\e984";
$icon-modificar: "\e985";
$icon-modo-pago: "\e986";
$icon-Morningstar: "\e987";
$icon-Mostrar: "\e988";
$icon-movimientos: "\e989";
$icon-muro_adjuntar: "\e98a";
$icon-muro_ajustes: "\e98b";
$icon-muro_anular: "\e98c";
$icon-muro_archivar: "\e98d";
$icon-muro_ayuda: "\e98e";
$icon-muro_bmp: "\e98f";
$icon-muro_bookmark: "\e990";
$icon-muro_buscar: "\e991";
$icon-muro_calendario: "\e992";
$icon-muro_calendariomas: "\e993";
$icon-muro_cambio: "\e994";
$icon-muro_cartera: "\e995";
$icon-muro_chat: "\e996";
$icon-muro_cobrosypagos: "\e997";
$icon-muro_conver_fill: "\e998";
$icon-muro_conversacionmas: "\e999";
$icon-muro_cuadricula: "\e99a";
$icon-muro_dashboard: "\e99b";
$icon-muro_descargar: "\e99c";
$icon-muro_doc: "\e99d";
$icon-muro_docx: "\e99e";
$icon-muro_editar: "\e99f";
$icon-muro_elmininar: "\e9a0";
$icon-muro_enviar: "\e9a1";
$icon-muro_excel: "\e9a2";
$icon-muro_ficherosyremesas: "\e9a3";
$icon-muro_filtros: "\e9a4";
$icon-muro_firmar: "\e9a5";
$icon-muro_gif: "\e9a6";
$icon-muro_home: "\e9a7";
$icon-muro_hora: "\e9a8";
$icon-muro_impuestos: "\e9a9";
$icon-muro_info: "\e9aa";
$icon-muro_jpeg: "\e9ab";
$icon-muro_jpg: "\e9ac";
$icon-muro_listado: "\e9ad";
$icon-muro_mensaje: "\e9ae";
$icon-muro_mostrar: "\e9af";
$icon-muro_oficinas: "\e9b0";
$icon-muro_pdf: "\e9b1";
$icon-muro_png: "\e9b2";
$icon-muro_ppt: "\e9b3";
$icon-muro_pptx: "\e9b4";
$icon-muro_repetir: "\e9b5";
$icon-muro_salir: "\e9b6";
$icon-muro_sop: "\e9b7";
$icon-muro_subir: "\e9b8";
$icon-muro_tarea: "\e9b9";
$icon-muro_telefono: "\e9ba";
$icon-muro_tif: "\e9bb";
$icon-muro_tiff: "\e9bc";
$icon-muro_traspasos: "\e9bd";
$icon-muro_txt: "\e9be";
$icon-muro_ubicacion: "\e9bf";
$icon-muro_volver: "\e9c0";
$icon-muro_word: "\e9c1";
$icon-muro_xls: "\e9c2";
$icon-muro_xlsx: "\e9c3";
$icon-muro_xml: "\e9c4";
$icon-muro_zip: "\e9c5";
$icon-No-idea1: "\e9c6";
$icon-nomina: "\e9c7";
$icon-nomina-N34-SEPA: "\e9c8";
$icon-nominas: "\e9c9";
$icon-Nuevo-certificado: "\e9ca";
$icon-Ocultar: "\e9cb";
$icon-Oficinas: "\e9cc";
$icon-OK: "\e9cd";
$icon-OK-2: "\e9ce";
$icon-OPAS: "\e9cf";
$icon-operaciones: "\e9d0";
$icon-operaciones-pendientes: "\e9d1";
$icon-Operar: "\e9d2";
$icon-operativa-nuevo-certificado: "\e9d3";
$icon-Operativas: "\e9d4";
$icon-Orden-de-adeudo: "\e9d5";
$icon-Orden-de-adeudo-2: "\e9d6";
$icon-orden-de-devolucion-2: "\e9d7";
$icon-orden-devolucion: "\e9d8";
$icon-ordenes-realizadas: "\e9d9";
$icon-organizar-datos: "\e9da";
$icon-Pagare: "\e9db";
$icon-Pago-financiado: "\e9dc";
$icon-pagos-AEAT: "\e9dd";
$icon-pagos-seguridad-social: "\e9de";
$icon-pagos-tasas-tributos-y-recibos: "\e9df";
$icon-pendientes-firma: "\e9e0";
$icon-Personalizacion: "\e9e1";
$icon-planes: "\e9e2";
$icon-plan-sistematico: "\e9e3";
$icon-posicion: "\e9e4";
$icon-Prefinanciacion: "\e9e5";
$icon-Prefinanciacion_Transaccional: "\e9e6";
$icon-prestamos: "\e9e7";
$icon-Rechazos: "\e9e8";
$icon-recibir-ficheros-AEB-43: "\e9e9";
$icon-recibos-N19-adeudos-SEPA: "\e9ea";
$icon-reembolso-parcial: "\e9eb";
$icon-reembolso-total: "\e9ec";
$icon-rentabilidad: "\e9ed";
$icon-Repetir: "\e9ee";
$icon-riesgo-disponible: "\e9ef";
$icon-saldo-y-movimientos: "\e9f0";
$icon-seguro_decesos: "\e9f1";
$icon-seguro_hogar: "\e9f2";
$icon-seguro_salud: "\e9f3";
$icon-Seguros: "\e9f4";
$icon-Settings: "\e9f5";
$icon-simulacion: "\e9f6";
$icon-simulacion-reembolso: "\e9f7";
$icon-situacion: "\e9f8";
$icon-solicitud-devolucion: "\e9f9";
$icon-solicitud-talonario: "\e9fa";
$icon-suscripcion: "\e9fb";
$icon-Talonario: "\e9fc";
$icon-Tarea: "\e9fd";
$icon-tarjeta-cuenta: "\e9fe";
$icon-Telefono: "\e9ff";
$icon-Tesoreria: "\ea00";
$icon-titulares: "\ea01";
$icon-Transferencias: "\ea02";
$icon-transferencias-a-otras-cuentas: "\ea03";
$icon-transferencias-N34-SEPA: "\ea04";
$icon-transferencias-periodicas: "\ea05";
$icon-transferencias-urgentes-OMF: "\ea06";
$icon-Traspasos: "\ea07";
$icon-upload: "\ea08";
$icon-validador: "\ea09";
$icon-Validando: "\ea0a";
$icon-valores: "\ea0b";
$icon-valor-liquidativo: "\ea0c";
$icon-variacion-patrimonial: "\ea0d";
$icon-vencimientos: "\ea0e";
$icon-venta_fondos_carrito: "\ea0f";
$icon-venta-continuo: "\ea10";
$icon-venta-extranjeros: "\ea11";
$icon-ver-ficheros-enviados: "\ea12";
$icon-ver-ficheros-recibidos: "\ea13";
$icon-ver-mandatos: "\ea14";
$icon-ver-ordenes-realizadas: "\ea15";
$icon-ver-recibos-devueltos: "\ea16";
$icon-ver-solicitudes: "\ea17";

