@import "./ibercaja-icon-variables.scss";

// Variables
$primary-color: #0b7ad0;
$primary-color-dark: #1067a9;
$shadow-primary-color: hsla(206, 90%, 43%, 0.300);
$footer-color: #495058;
$back-color:#ffffff71;
$back-info-color: #f2f5fb;
$notification-color:#b9d6ff;
$secundary-text-color: white;
$primary-text-color:black;
$primary-text-color-t:rgba(0, 0, 0, 0.621);
$grey-color:#e4e4e4;
$grey-color-light:#acacac;
$grey-color-date:#889bb7;
$smooth-grey-color:#929292;
$color-ball-positive:#7dbb58;
$color-ball-negative:#d86c6c;
$color-warning:#e90c0c;
$color-select-nav: #c0cdd8;
$color-open-nav: #f4f7fd;

$shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);


//tamaño de fuente
$font-size-xxsmall: 12px;
$font-size-xsmall: 13px;
$font-size-small: 15px;
$font-size-medium: 17px;
$font-size-big: 25px;