@import "./ibercaja-icon-variables.scss";

// Variables
$primary-color: #0b7ad0;
$shadow-primary-color: hsla(206, 90%, 43%, 0.300);
$footer-color: #495058;
$back-color:rgba(255, 255, 255, 0.442);
$notification-color:#b9d6ff;
$secundary-text-color: white;
$primary-text-color:black;
$primary-text-color-t:rgba(0, 0, 0, 0.621);
$grey-color:#e4e4e4;