<header>
    <div>
      <img class="menu" src="../assets/img/menu.png" alt="">
      <img class="ib-icon" src="../assets/img/Ibercaja-logo.svg" alt="" srcset="">
      <img class="mensaje" src="../assets/img/mensajes.png" alt="">
      <button>Productos</button>
      <button>Operativas</button>
      <form action="search" method="post">
        <p><span class="icon-muro_buscar"></span></p>
        <input type="text" id="fname" name="fname" value="Busca en ibercaja...">
      </form>
    </div>
    <div>
      <span class="notifications">2</span>
      <div class="sidebar">
        <span><img src="../assets/img/avatar.png" alt=""></span>
        <p>María Salas</p>
        <span class="icon-Chevron-abajo"></span>
      </div>
    </div>
</header>
<app-dashboard-layout></app-dashboard-layout>
<footer>
    <img class="ib-icon" src="../assets/img/Ibercaja-logo.svg" alt="">
    <ul>
      <li class="links">
        <a href="#">Contratos tipo</a>
      </li>
      <li class="links">
        <a href="#">C.G.C. Protocolizadas</a>
      </li>
      <li class="links">
        <a href="#">Aviso legal</a>
      </li>
      <li class="links">
        <a href="#">Ejercicio de derechos</a>
      </li>
      <li class="links">
        <a href="#">Revocación</a>
      </li>
      <li class="links">
        <a href="#">Tarifas y cotizaciones</a>
      </li>
      <li class="links">
        <a href="#">Tablón de anuncios</a>
      </li>
    </ul>
</footer>