<footer>
    <img class="ib-icon" src="../assets/img/Ibercaja-logo.svg" alt="">
    <ul>
      <li class="links">
        <a href="#">Contratos tipo</a>
      </li>
      <li class="links">
        <a href="#">C.G.C. Protocolizadas</a>
      </li>
      <li class="links">
        <a href="#">Aviso legal</a>
      </li>
      <li class="links">
        <a href="#">Ejercicio de derechos</a>
      </li>
      <li class="links">
        <a href="#">Revocación</a>
      </li>
      <li class="links">
        <a href="#">Tarifas y cotizaciones</a>
      </li>
      <li class="links">
        <a href="#">Tablón de anuncios</a>
      </li>
    </ul>
</footer>