<section class="title">
    <p>{{ title }}</p>
</section>
<section class="actions" *ngIf="isShown">
    <ul>
        <li *ngFor="let action of actions"> 
            <span class={{action.firstIcon}}></span>
            <span> {{ action.text }} </span>
            <span class={{action.secondIcon}}></span>
        </li>
    </ul>
    <div>
        <button class="" [ngClass]="{ 'selected': !isTableB, 'notSelected': isTableB }" (click)="onClickGridView()"><span class="icon-muro_cuadricula"></span></button>
        <button class="" [ngClass]="{ 'notSelected': !isTableB, 'selected': isTableB }" (click)="onClickTableView()"><span class="icon-muro_listado"></span></button>
    </div>
</section>